Body {
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 50px;
}
.title-color{
    color: orange;
}
section{
    display: flex;
}
.first-sec{
    width: 50%;
    padding: 3%;
}
.first-sec img{
    width: 100%;
}
.button-link{
    text-decoration: none;
    background-color: orange;
    padding: 10px 40px;
    border-radius: 5px;
    
}