Body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1{
    font-size: 50px;
}
h2{
    font-size: 30px;
}
.title-color{
    color: orange;
}
.flexible-container{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 3%;
}
.half-width img{
    width: 100%;
}
.button-link{
    text-decoration: none;
    background-color: orange;
    padding: 10px 40px;
    border-radius: 5px;
    
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
}
#web-dev-exp{
    border-left: 7px solid;
    border-image: linear-gradient(salmon, orange);
    border-image-slice: 1;
}
#web-dev-new{
    border-left: 7px solid;
    border-image: linear-gradient(blue, aqua);
    border-image-slice: 1;
}
footer{
    text-align: center;
}